html .page .offset-top-40 {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333%;
  }
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.33333%;
  }
  .col-lg-push-2 {
    left: 16.66667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333%;
  }
  .col-lg-push-5 {
    left: 41.66667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.33333%;
  }
  .col-lg-push-8 {
    left: 66.66667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333%;
  }
  .col-lg-push-11 {
    left: 91.66667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
 .page .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}
/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}
[data-isotope-layout] {
  position: relative;
  display: block;
  margin-bottom: -24px;
  transition: .4s all ease;
  min-height: 160px;
}

[data-isotope-layout]:after {
  content: '';
  position: absolute;
  margin-top: 12px;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  background-position: -1152px 0;
  animation: 0.7s sprite-animation steps(18) infinite;
  transition: .4s all ease;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

[data-isotope-layout] [class*="col-"] {
  display: block;
  margin-top: 24px;
  opacity: 0;
  transition: .4s opacity ease;
  /*
     * @bugfix item position after filtering
     * @affected iOS
    */
}

[data-isotope-layout].isotope--loaded [class*="col-"] {
  opacity: 1;
}

[data-isotope-layout].isotope--loaded:after {
  opacity: 0;
  visibility: hidden;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
 .col-sm-6 {
    width: 50%;
  }
  .thumbnail-variant-1 {
    display: inline-block;
    position: relative;
  }
  
  .thumbnail-variant-1 .caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s;
    background-color: rgba(215, 204, 194, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .thumbnail-variant-1 .caption:before {
    content: '+';
    color: #313131;
    font-size: 100px;
  }
  
  @media (min-width: 992px) {
    .thumbnail-variant-1 .caption:before {
      font-size: 150px;
    }
  }
  
  .thumbnail-variant-1:hover .caption {
    opacity: 1;
  }
  html body .thumbnail .caption {
    position: relative;
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 34px 10px;
    color: #313131;
  }
  
  html body .thumbnail .caption-static {
    position: static;
  }
  
  html body .thumbnail .caption h4, html body .thumbnail .caption {
    letter-spacing: 0.08em;
  }
  
  html body .thumbnail .caption p {
    margin-top: 3px;
  }
  
  html body .thumbnail .caption .small {
    font-size: 12px;
  }
  
  html body .thumbnail .caption-bottom .btn {
    padding: 11px 30px;
  }
  
  html body .thumbnail .caption-top {
    border-top: 1px solid #eeeeee;
    padding: 41px 10px 28px 10px;
  }
  
  html body .thumbnail .caption-link {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: 11px 40px;
    border-color: #eeeeee;
    background-color: #fff;
  }
  
  html body .thumbnail .caption-link:hover, html body .thumbnail .caption-link:focus {
    background-color: #313131;
  }
  
  .img-thumbnail,
  .thumbnail {
    box-shadow: none;
  }
  
  .thumbnail-variant-1 {
    display: inline-block;
    position: relative;
  }
  
  .thumbnail-variant-1 .caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s;
    background-color: rgba(215, 204, 194, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .thumbnail-variant-1 .caption:before {
    content: '+';
    color: #313131;
    font-size: 100px;
  }
  
  @media (min-width: 992px) {
    .thumbnail-variant-1 .caption:before {
      font-size: 150px;
    }
  }
  
  .thumbnail-variant-1:hover .caption {
    opacity: 1;
  }
.list-inline li a{
  text-decoration: none;
}