body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: #717171;
  background-color: #fff;
}
.font-default {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  
  #header .header-inner {
    width: 90%;
    height: 100%;
    display: flex;
  }
  
  #header .header-inner .logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
  
  #header .header-inner .nav {
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
  }
  
  .main-menu {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
  }
  
  .main-menu > li {
    list-style-type: none;
    width: fit-content; 
    margin-right: 30px;
    padding: 5px;
    position: relative;
  }

.item + .item::before{
    display: inline-block;
    padding-right: 2rem;
    padding-left: 0.5rem;
    color: #bebabb;
    content: "/";
  }
  
  .main-menu > li > a {
    list-style-type: none;
    text-decoration: none;
    color: #313131;
    text-transform: uppercase;
    font-weight: 600;
  }
  .sub-menu {
    display: none;
  }
  
  .main-menu > li:hover .sub-menu {
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #000;
    padding: 10px;
    width: max-content;
  }
  
  .main-menu > li:hover .sub-menu li {
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .main-menu > li:hover .sub-menu li a {
    text-decoration: none;
    color: #a8a8a8;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    padding: 7px 20px;
  }
  .page .page-counter img {
      margin-top: 50px;
  }
/*body 1*/

.home-about{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.img-container {
  background-image: url(https://wallpaperaccess.com/full/253616.jpg);
  height: 120%;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 70px;
  margin-top: 50px;
}
.img-container .inner-container {
  text-align: start;
  width: 100%;
  height: auto;
  margin-top: 200px;
}
.img-container .inner-container h1{
  font-size: 46px;
  font-family: "Montserrat";
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 40px;
  color: #313131;
}

.img-container .inner-container .link-white{
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  margin-top: 80px;
  transition: .2s;
}
.img-container .inner-container .link-white {
  color: white;
  text-transform: uppercase;
  line-height: 5;
  margin-left: 40px;
}
.img-container .inner-container > a{
  color: #983a42;
  text-decoration: none;
  
}
@media only screen and (max-width : 768px) {
  .inner-container {
    margin-top: 100px;
  }
  .img-container .inner-container .jumbotron h1 {
    font-size: 32px;
    line-height: 1.3;
  }
}
@media only screen and (max-width : 540px){
  .inner-container{
    margin-top: 150px;
  }
  .img-container .inner-container h1{
    font-size: 10px;
  }
  .img-container .inner-container a{
    font-size: 1.4rem;
  }
}
.content .ranges h4 {
  margin-top: 70px;
  margin-left: 70px;
  text-align: start;
  font-size: 16px;
  font-weight: 650;
  line-height: 1.75;
  letter-spacing: 0.15em;
}
.content .ranges .icon {
  color: gray;
  line-height: 50px;
  font-size: 16px;
  margin-left: 20px;
}
.content .ranges .icon1{
  color: gray;
  line-height: 50px;
  font-size: 25px;
  margin-left: 70px;
}
.page .contacts-link li  {
  list-style-type: none;
  text-decoration: none;
  margin-left: 70px;
  font-size: 16px;
}
.page .contacts-link li a {
  list-style-type: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-style: normal;
  color: #983a42;
  font-family: "Open Sans";
  line-height: 40px;
  text-transform: lowercase;
}
.page .contacts-link .link {
  margin-top: 30px;
}
@media (min-width: 1800px) {
 .page .inset-xl-left-40 {
    padding-left: 40px;
  }
}
.location-link h5{
line-height: 1.5;
font-size: 15px;
letter-spacing: 0.15em;
text-transform: uppercase;
margin-left: 70px;
color: #7c7c7c;

}
.location-link .link{
  margin-top: 30px;
}

/*body2*/
.page .cell-lg-6 h4 {
  font-family: "Open Sans";
  color: #313131;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.15em;
}
.page .cell-lg-6 p {
  font-size: 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ranges-xs-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page .ranges {
  margin-left: -15px;
  margin-right: -15px;
}

.page .ranges > .ranges {
  margin-left: 0;
  margin-right: 0;
}
.offset-top-0 {
  margin-top: 0;
}
.page .offset-md-top-65 {
  margin-top: 65px;
}
.page .ranges > .cell-md-8 {
  -webkit-flex-basis: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}
.page .ranges > .cell-md-8 {
  margin-left: auto;
  margin-right: auto;
  max-width: 66.66667%;
}
.page .ranges > .cell-lg-6 {
  -webkit-flex-basis: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}
.page .ranges > .cell-lg-6 {
  margin-left: auto;
  margin-right: auto;
  max-width: 41.66667%;
}

.page .btn {
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.15em;
  padding: 11px 25px;
  font-weight: 500;
  vertical-align: middle;
}
.page .caption-btn {
  margin-left: 180px;
}
/*body 2 */
hr {
  margin-top: 28px;
  margin-bottom: 28px;
  border: 0;
  border-top: 1px solid #eaeaea;
}

.page .divider {
  height: 5px;
  width: 75px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #983a42;
  border: none;
}
/*body 3*/

.page .ranges > .cell-sm-11 {
  -webkit-flex-basis: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  margin-left: auto;
  margin-right: auto;
}
html.lt-ie-10 .page .ranges > .cell-sm-11 {
  margin-left: auto;
  margin-right: auto;
  max-width: 91.66667%;
}
html.lt-ie-10 .page .range > .cell-md-10 {
  margin-left: auto;
  margin-right: auto;
  max-width: 83.33333%;
}
.page .range > .cell-md-10 {
  -webkit-flex-basis: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}
.page .list-terms-variant-1 dt {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: #983a42;
  letter-spacing: 0.05em;
  font-size: 14px;
  z-index: 1;
  margin-left: 50px;
}

@media (min-width: 1200px) {
 .page .list-terms-variant-1 dt {
    min-width: 237px;
  }
}

.page .list-terms-variant-1 dt > span {
  background-color: #fff;
}

.page .list-terms-variant-1 dt:after {
  content: '-';
  margin-left: 4px;
  margin-right: 2x;
}

@media (min-width: 1200px) {
 .page .list-terms-variant-1 dt:after {
    content: '';
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    margin: 0;
    border-top: 1px dotted #313131;
    z-index: -1;
  }
}

.page .list-terms-variant-1 dd {
  font-size: 16px;
  color: #313131;
}

.page .list-terms-variant-1 dd,
.page .list-terms-variant-1 dt {
  display: inline;
}

@media (min-width: 1200px) {
  .page .list-terms-variant-1 dd,
  .page .list-terms-variant-1 dt {
    display: inline-block;
  }
}

.page + .list-terms-variant-1 {
  margin-top: 28px;
}

.page .bg-img-01 .list-terms-variant-1 dt > span {
  background-color: #f7f7f4;
}
.page .bg-img-01 {
  background-color: #f7f7f4;
}

@media (min-width: 1200px) {
 .page .bg-img-01 {
    background: #f7f7f4 url("/images/index-03.png") right bottom no-repeat;
    background-size: 25%;
  }
}

@media (min-width: 1800px) {
 .page .bg-img-01 {
    background-size: initial;
  }
}

.page .bg-img-01 .list-terms-variant-1 dt > span {
  background-color: #f7f7f4;
}
/*body 4*/
.page .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 .ranges-xs-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .page .cell-md-8 h4 + p {
    margin-top: 30px;
  }
.page .cell-md-8 p {
  margin: 0 0 14px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}
/* .owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  /* position: relative;
  z-index: 1;
} */ 
html .page .offset-top-40 {
  margin-top: 40px;
}

.page .offset-lg-top-96 {
  margin-top: 96px;
}
.page .owl-dots-modile .owl-dots {
  display: block !important;
}

@media (min-width: 992px) {
.page  .owl-dots-modile .owl-dots {
    display: none !important;
  }
}

.caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #c7c7c7;
  text-align: left;
  
}

.page .cloned {
  display: block;
  margin-left: 50px;
}
.page .text-graylight {
  color: #c7c7c7;
}

.page a.text-graylight:hover,
.page a.text-graylight:focus {
  color: #aeaeae;
}


.caption h4{
  font-size: 15px;
  
}
.caption p{
  font-size: 13px;
}
.page .caption-card-btn{
  margin-top: 50px;
  margin-left: 480px;
}
/*body 5*/
.page .bg-mocos {
  background: #f9f8f8;
  fill: #f9f8f8;
}
.page .owl-wrapper {
  position: relative;
}
.shell h5{
  text-transform: uppercase;
  line-height: 1.86667;
  font-size: 15px;
  letter-spacing: 0.15em;
  font-weight: 700;
}

.page .owl-carousel.owl-loaded {
  display: block;
}
@media (min-width: 1800px) {
  * + [class*='cell-xl-'] {
    margin-top: 0;
  }
.page .ranges > .cell-xl-4 {
  -webkit-flex-basis: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}
.page .range > .cell-xl-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
}
html.lt-ie-10 .page .ranges > .cell-lg-5 {
  margin-left: auto;
  margin-right: auto;
  max-width: 41.66667%;
}
html.lt-ie-10 .page .range > .cell-lg-4 {
  margin-left: auto;
  margin-right: auto;
  max-width: 33.33333%;
}
@media (min-width: 1200px) {
  * + [class*='cell-lg-'] {
    margin-top: 0;
  }
.page  .range > .cell-lg-4 {
  -webkit-flex-basis: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}
.page .range > .cell-lg-5 {
  -webkit-flex-basis: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}}
@media (min-width: 1200px) {
 .page .text-lg-left {
    text-align: left;
  }}
  @media (min-width: 1200px) {
  .page  html:not(.lt-ie10) .text-lg-left {
      text-align: left;
    }
  }
.page .text-dark {
    text-decoration: none;
    text-transform: uppercase;
      color: #313131;
    }
    
.page a.text-dark:hover,
.page a.text-dark:focus {
      color: #181818;
    }
    html body .page .thumbnail .caption .small {
      font-size: 12px;
    }
    .page small {
      font-size: 80%;
    }   
   .page small,
    .small {
      font-size: 87%;
    } 
    small,
.page .small {
  font-size: 14px;
  line-height: 26px;
}
.page .small {
  margin-top: 26px;
}

.page  .ranges a {
    text-decoration: none;
    text-transform: uppercase;
  }
  .page .thumbnail .caption {
    padding: 9px;
    color: #717171;
  }
  html body .page .thumbnail .caption {
    position: relative;
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 34px 10px;
    color: #313131;
  }
  
  html body .page .thumbnail .caption-static {
    position: static;
  }
  
  html body .page .thumbnail .caption h4, html body .thumbnail .caption {
    letter-spacing: 0.08em;
  }
  
  html body .page .thumbnail .caption p {
    margin-top: 3px;
  }
  
  html body .page .thumbnail .caption .small {
    font-size: 12px;
  }  
/*footer*/
.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .page-footer {
    padding-top: 78px;
    padding-bottom: 85px;
  }
}

.page-footer,
.page-footer a {
  color: #000;
  text-decoration: none;
}

.page-footer * {
  vertical-align: middle;
}.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.text-center {
  text-align: center;
}
.page-footer .divider {
  width: 75px;
  height: 5px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #983a42;
  border: none;
}
.page-footer .divider-default {
  border: none;
  background-color: #000;
}
.page-footer .divider-vertical {
  width: 1px;
  height: 28px;
  margin-bottom: 0;
  display: inline-block;
  margin-left: 16px;
  margin-right: 23px;
  margin-top: 3px;
}

/*---------------------------*/

h4,
.h4 {
  line-height: 1.75;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.page h6,
.page .h6 {
  line-height: 2.28571;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.page .text-uppercase, .initialism {
  text-transform: uppercase;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


