 body .page {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: #717171;
    background-color: #fff;
  }
  .font-default {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  
  #header {
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;
    }
    
    #header .header-inner {
      width: 90%;
      height: 100%;
      display: flex;
    }
    
    #header .header-inner .logo {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
    }
    
    .logo img {
      max-width: 100%;
      max-height: 100%;
    }
    
    #header .header-inner .nav {
      width: 70%;
      height: 100px;
      display: flex;
      align-items: center;
    }
    
    .main-menu {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;
      justify-content: space-between;
      font-family: "Open Sans", sans-serif;
    }
    
    .main-menu > li {
      list-style-type: none;
      width: fit-content; 
      margin-right: 30px;
      padding: 5px;
      position: relative;
    }
  
  .item + .item::before{
      display: inline-block;
      padding-right: 2rem;
      padding-left: 0.5rem;
      color: #bebabb;
      content: "/";
    }
    
    .main-menu > li > a {
      list-style-type: none;
      text-decoration: none;
      color: #313131;
      text-transform: uppercase;
      font-weight: 600;
    }
    .sub-menu {
      display: none;
    }
    
    .main-menu > li:hover .sub-menu {
      display: block;
      position: absolute;
      top: 25px;
      left: 0;
      background-color: #000;
      padding: 10px;
      width: max-content;
    }
    
    .main-menu > li:hover .sub-menu li {
      list-style-type: none;
      text-decoration: none;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    .main-menu > li:hover .sub-menu li a {
      text-decoration: none;
      color: #a8a8a8;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      padding: 7px 20px;
    }
    .page .page-counter img {
        margin-top: 50px;
    }
/*body 1*/
html .page .offset-top-0 {
    margin-top: 0;
  }
  @media (min-width: 1800px) {
    * + [class*='cell-xl-'] {
      margin-top: 0;
    }
  .page .range > .cell-xl-10 {
    -webkit-flex-basis: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }}
  html .page .offset-top-34 {
    margin-top: 34px;
  } 
  html.lt-ie-10 .page .range > .cell-sm-6 {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
  @media (min-width: 768px) {
    * + [class*='cell-sm-'] {
      margin-top: 0;
    }
  .page .range > .cell-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }}
  @media (min-width: 992px) {
    * + [class*='cell-md-'] {
      margin-top: 0;
    }
  .page .range > .cell-md-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }}
  html.lt-ie-10 .page .range > .cell-md-3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
  }
 .page .list-marked {
    text-align: left;
    list-style-type: none;
  }
  
 .page .list-marked li {
    position: relative;
    padding-left: 14px;
    
  }
  
 .page .list-marked li a {
    color: #717171;
    text-decoration: none;
  }
  
 .page .list-marked li a:hover {
    color: #983a42;
    text-decoration-line: underline;
  }
  
.page  .list-marked li:before {
    content: '\f105';
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    left: 0;
    color: #983a42;
  }
  
.page  .list-marked li + li {
    margin-top: 6px;
  }
  html .page .offset-top-26 {
    margin-top: 26px;
  }
  @media (min-width: 768px) {
    html .page .offset-sm-top-0 {
      margin-top: 0;
    }}  

 
/*body 2*/
.page .bg-img-03 {
    background-color: #f7f7f4;
  }
  
  @media (min-width: 1200px) {
  .page  .bg-img-03 {
      background: #f7f7f4 url("/images/links-02.PNG") left center no-repeat;
      background-size: 25%;
    }
  }
  
  @media (min-width: 1800px) {
  .page  .bg-img-03 {
      background-size: initial;
    }
  }
  @media (min-width: 992px) {
   .page .text-md-left {
      text-align: left;
    }}

@media (min-width: 992px) {
    html:not(.lt-ie10) .page .text-md-left {
          text-align: left;
    }}
    html .page .offset-top-20 {
        margin-top: 20px;
    }
    html.lt-ie-10 .page .range > .cell-md-4 {
        margin-left: auto;
        margin-right: auto;
        max-width: 33.33333%;
      }
      
 @media (min-width: 992px) {
    * + [class*='cell-md-'] {
    margin-top: 0;
    }
   .page .range > .cell-md-4 {
        -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%;
      }}
/*body 3*/
.page .owl-dots-modile .owl-dots {
    display: block !important;
  }
  
  @media (min-width: 992px) {
    .page  .owl-dots-modile .owl-dots {
      display: none !important;
    }
  }
  .page .owl-dots {
    text-align: center;
    margin-top: 20px;
  }
  .page caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #c7c7c7;
    text-align: left;
  }  
  html body .page .thumbnail {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
  }
  
  html body .page .thumbnail .caption {
    position: relative;
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 34px 10px;
    color: #313131;
  }
  
  html body .page .thumbnail .caption-static {
    position: static;
  }
  
  html body .page .thumbnail .caption h4, html body .page .thumbnail .caption {
    letter-spacing: 0.08em;
  }
  
  html body .page .thumbnail .caption p {
    margin-top: 3px;
  }
  
  html body .page .thumbnail .caption .small {
    font-size: 12px;
  }
  
  html body .page .thumbnail .caption-bottom .btn {
    padding: 11px 30px;
  }
  
  html body .page .thumbnail .caption-top {
    border-top: 1px solid #eeeeee;
    padding: 41px 10px 28px 10px;
  }
  
  html body .page .thumbnail .caption-link {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: 11px 40px;
    border-color: #eeeeee;
    background-color: #fff;
  }
  
  html body .page .thumbnail .caption-link:hover, html body .page  .thumbnail .caption-link:focus {
    background-color: #313131;
  }
  
  .page  .img-thumbnail,
  .page .thumbnail {
    box-shadow: none;
  }
  
  .page  .thumbnail-variant-1 {
    display: inline-block;
    position: relative;
  }
  
  .page .thumbnail-variant-1 .caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s;
    background-color: rgba(215, 204, 194, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .page  .thumbnail-variant-1 .caption:before {
    content: '+';
    color: #313131;
    font-size: 100px;
  }
  
  @media (min-width: 992px) {
    .page    .thumbnail-variant-1 .caption:before {
      font-size: 150px;
    }
  }
  
  .page  .thumbnail-variant-1:hover .caption {
    opacity: 1;
  }
  
  .page .thumbnail-block {
    display: block;
  }
  
  .page .thumbnail-block > img,
  .page .thumbnail-block a > img {
    width: 100%;
    height: auto;
  }
  .page .text-graylight {
    color: #c7c7c7;
  }
  
  .page a.text-graylight:hover,
  .page a.text-graylight:focus {
    color: #aeaeae;
  }
  .page .text-bold, strong {
    font-weight: 700;
  }
  .page .text-uppercase, .initialism {
    text-transform: uppercase;
  }
  .page .cloned {
    display: block;
    margin-left: 50px;
  }
  .page .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  .page .text-dark {
    color: #313131;
    text-decoration: none;
  }
  
  .page a.text-dark:hover,
  .page a.text-dark:focus {
    color: #181818;
  }
/*body 4*/
/*footer*/
.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .page-footer {
    padding-top: 78px;
    padding-bottom: 85px;
  }
}

.page-footer,
.page-footer a {
  color: #000;
  text-decoration: none;
}

.page-footer * {
  vertical-align: middle;
}.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.text-center {
  text-align: center;
}
.page-footer .divider {
  width: 75px;
  height: 5px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #983a42;
  border: none;
}
.page-footer .divider-default {
  border: none;
  background-color: #000;
}
.page-footer .divider-vertical {
  width: 1px;
  height: 28px;
  margin-bottom: 0;
  display: inline-block;
  margin-left: 16px;
  margin-right: 23px;
  margin-top: 3px;
}
.page .shell .divider-full {
  width: 90%;
  height: 4px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #983a42;
  border: none;
}
/*---------------------------*/
.page h4, 
.h4 {
    line-height: 1.75;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
  }
  
  .page h5,
  .h5 {
    line-height: 1.86667;
    font-size: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .page h6,
  .h6 {
    line-height: 2.28571;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  
  .page small,
  .small {
    font-size: 14px;
    line-height: 26px;
  }
  
  .page small + small,
  .small + small, small +
  .small,
  .small +
  .small {
    margin-top: 26px;
  }
  .page small,
  .small {
    font-size: 87%;
  }
  .page small {
    font-size: 80%;
  }
  
  .page .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }