body{
    counter-reset: sections;
  }
  /*---------------------------*/
  .page .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .page .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 768px) {
      .stacktable.large-only {
        display: table;
      }
      .stacktable.small-only {
        display: none;
      }
    }
    
    .section-0 {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    
    .section-34 {
      padding-top: 34px;
      padding-bottom: 34px;
    }
    
    .page .section-65 {
      padding-top: 65px;
      padding-bottom: 65px;
    }
    
    .section-80 {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    
    .page .section-92 {
      padding-top: 92px;
      padding-bottom: 92px;
    }
    
    .section-122 {
      padding-top: 122px;
      padding-bottom: 122px;
    }
    
    .section-148 {
      padding-top: 148px;
      padding-bottom: 148px;
    }
    
    .section-231 {
      padding-top: 231px;
      padding-bottom: 231px;
    }
    
    @media (min-width: 480px) {
      .section-xs-0 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .section-xs-34 {
        padding-top: 34px;
        padding-bottom: 34px;
      }
      .section-xs-65 {
        padding-top: 65px;
        padding-bottom: 65px;
      }
      .section-xs-80 {
        padding-top: 80px;
        padding-bottom: 80px;
      }
      .section-xs-92 {
        padding-top: 92px;
        padding-bottom: 92px;
      }
      .section-xs-122 {
        padding-top: 122px;
        padding-bottom: 122px;
      }
      .section-xs-148 {
        padding-top: 148px;
        padding-bottom: 148px;
      }
      .section-xs-231 {
        padding-top: 231px;
        padding-bottom: 231px;
      }
    }
    
    @media (min-width: 768px) {
      .section-sm-0 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .section-sm-34 {
        padding-top: 34px;
        padding-bottom: 34px;
      }
      .section-sm-65 {
        padding-top: 65px;
        padding-bottom: 65px;
      }
      .section-sm-80 {
        padding-top: 80px;
        padding-bottom: 80px;
      }
      .section-sm-92 {
        padding-top: 92px;
        padding-bottom: 92px;
      }
      .section-sm-122 {
        padding-top: 122px;
        padding-bottom: 122px;
      }
      .section-sm-148 {
        padding-top: 148px;
        padding-bottom: 148px;
      }
      .section-sm-231 {
        padding-top: 231px;
        padding-bottom: 231px;
      }
    }
    
    @media (min-width: 992px) {
      .section-md-0 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .section-md-34 {
        padding-top: 34px;
        padding-bottom: 34px;
      }
      .section-md-65 {
        padding-top: 65px;
        padding-bottom: 65px;
      }
      .section-md-80 {
        padding-top: 80px;
        padding-bottom: 80px;
      }
      .section-md-92 {
        padding-top: 92px;
        padding-bottom: 92px;
      }
      .section-md-122 {
        padding-top: 122px;
        padding-bottom: 122px;
      }
      .section-md-148 {
        padding-top: 148px;
        padding-bottom: 148px;
      }
      .section-md-231 {
        padding-top: 231px;
        padding-bottom: 231px;
      }
    }
    
    @media (min-width: 1200px) {
      .section-lg-0 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .section-lg-34 {
        padding-top: 34px;
        padding-bottom: 34px;
      }
      .section-lg-65 {
        padding-top: 65px;
        padding-bottom: 65px;
      }
      .section-lg-80 {
        padding-top: 80px;
        padding-bottom: 80px;
      }
      .section-lg-92 {
        padding-top: 92px;
        padding-bottom: 92px;
      }
      .page .section-lg-122 {
        padding-top: 122px;
        padding-bottom: 122px;
      }
      .section-lg-148 {
        padding-top: 148px;
        padding-bottom: 148px;
      }
      .section-lg-231 {
        padding-top: 231px;
        padding-bottom: 231px;
      }
    }
    
    @media (min-width: 1800px) {
      .section-xl-0 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .section-xl-34 {
        padding-top: 34px;
        padding-bottom: 34px;
      }
      .section-xl-65 {
        padding-top: 65px;
        padding-bottom: 65px;
      }
      .section-xl-80 {
        padding-top: 80px;
        padding-bottom: 80px;
      }
      .section-xl-92 {
        padding-top: 92px;
        padding-bottom: 92px;
      }
      .section-xl-122 {
        padding-top: 122px;
        padding-bottom: 122px;
      }
      .section-xl-148 {
        padding-top: 148px;
        padding-bottom: 148px;
      }
      .section-xl-231 {
        padding-top: 231px;
        padding-bottom: 231px;
      }
    }
    
    .section-top-0 {
      padding-top: 0px;
    }
    
    .page .section-top-34 {
      padding-top: 34px;
    }
    
    .section-top-65 {
      padding-top: 65px;
    }
    
    .section-top-80 {
      padding-top: 80px;
    }
    
    .section-top-92 {
      padding-top: 92px;
    }
    
    .section-top-122 {
      padding-top: 122px;
    }
    
    .section-top-148 {
      padding-top: 148px;
    }
    
    .section-top-231 {
      padding-top: 231px;
    }
    
    @media (min-width: 480px) {
      .section-xs-top-0 {
        padding-top: 0px;
      }
      .section-xs-top-34 {
        padding-top: 34px;
      }
      .section-xs-top-65 {
        padding-top: 65px;
      }
      .section-xs-top-80 {
        padding-top: 80px;
      }
      .section-xs-top-92 {
        padding-top: 92px;
      }
      .section-xs-top-122 {
        padding-top: 122px;
      }
      .section-xs-top-148 {
        padding-top: 148px;
      }
      .section-xs-top-231 {
        padding-top: 231px;
      }
    }
    
    @media (min-width: 768px) {
      .section-sm-top-0 {
        padding-top: 0px;
      }
      .section-sm-top-34 {
        padding-top: 34px;
      }
      .section-sm-top-65 {
        padding-top: 65px;
      }
      .section-sm-top-80 {
        padding-top: 80px;
      }
      .section-sm-top-92 {
        padding-top: 92px;
      }
      .section-sm-top-122 {
        padding-top: 122px;
      }
      .section-sm-top-148 {
        padding-top: 148px;
      }
      .section-sm-top-231 {
        padding-top: 231px;
      }
    }
    
    @media (min-width: 992px) {
      .page .section-md-top-0 {
        padding-top: 0px;
      }
      .section-md-top-34 {
        padding-top: 34px;
      }
      .section-md-top-65 {
        padding-top: 65px;
      }
      .section-md-top-80 {
        padding-top: 80px;
      }
      .section-md-top-92 {
        padding-top: 92px;
      }
      .section-md-top-122 {
        padding-top: 122px;
      }
      .section-md-top-148 {
        padding-top: 148px;
      }
      .section-md-top-231 {
        padding-top: 231px;
      }
    }
    
    @media (min-width: 1200px) {
      .section-lg-top-0 {
        padding-top: 0px;
      }
      .section-lg-top-34 {
        padding-top: 34px;
      }
      .section-lg-top-65 {
        padding-top: 65px;
      }
      .section-lg-top-80 {
        padding-top: 80px;
      }
      .section-lg-top-92 {
        padding-top: 92px;
      }
      .section-lg-top-122 {
        padding-top: 122px;
      }
      .section-lg-top-148 {
        padding-top: 148px;
      }
      .section-lg-top-231 {
        padding-top: 231px;
      }
    }
    
    @media (min-width: 1800px) {
      .section-xl-top-0 {
        padding-top: 0px;
      }
      .section-xl-top-34 {
        padding-top: 34px;
      }
      .section-xl-top-65 {
        padding-top: 65px;
      }
      .section-xl-top-80 {
        padding-top: 80px;
      }
      .section-xl-top-92 {
        padding-top: 92px;
      }
      .section-xl-top-122 {
        padding-top: 122px;
      }
      .section-xl-top-148 {
        padding-top: 148px;
      }
      .section-xl-top-231 {
        padding-top: 231px;
      }
    }
    
  .section-bottom-0 {
    padding-bottom: 0px;
  }
  
  .section-bottom-34 {
    padding-bottom: 34px;
  }
  
  .page .section-bottom-65 {
    padding-bottom: 65px;
  }
  
  .page .section-bottom-80 {
    padding-bottom: 80px;
  }
  
  .section-bottom-92 {
    padding-bottom: 92px;
  }
  
  .section-bottom-122 {
    padding-bottom: 122px;
  }
  
  .section-bottom-148 {
    padding-bottom: 148px;
  }
  
  .section-bottom-231 {
    padding-bottom: 231px;
  }
  
  @media (min-width: 480px) {
    .section-xs-bottom-0 {
      padding-bottom: 0px;
    }
    .section-xs-bottom-34 {
      padding-bottom: 34px;
    }
    .section-xs-bottom-65 {
      padding-bottom: 65px;
    }
    .section-xs-bottom-80 {
      padding-bottom: 80px;
    }
    .section-xs-bottom-92 {
      padding-bottom: 92px;
    }
    .section-xs-bottom-122 {
      padding-bottom: 122px;
    }
    .section-xs-bottom-148 {
      padding-bottom: 148px;
    }
    .section-xs-bottom-231 {
      padding-bottom: 231px;
    }
  }
  
  @media (min-width: 768px) {
    .section-sm-bottom-0 {
      padding-bottom: 0px;
    }
    .section-sm-bottom-34 {
      padding-bottom: 34px;
    }
    .section-sm-bottom-65 {
      padding-bottom: 65px;
    }
    .section-sm-bottom-80 {
      padding-bottom: 80px;
    }
    .section-sm-bottom-92 {
      padding-bottom: 92px;
    }
    .section-sm-bottom-122 {
      padding-bottom: 122px;
    }
    .section-sm-bottom-148 {
      padding-bottom: 148px;
    }
    .section-sm-bottom-231 {
      padding-bottom: 231px;
    }
  }
  
  @media (min-width: 992px) {
    .section-md-bottom-0 {
      padding-bottom: 0px;
    }
    .section-md-bottom-34 {
      padding-bottom: 34px;
    }
    .section-md-bottom-65 {
      padding-bottom: 65px;
    }
    .section-md-bottom-80 {
      padding-bottom: 80px;
    }
    .section-md-bottom-92 {
      padding-bottom: 92px;
    }
    .section-md-bottom-122 {
      padding-bottom: 122px;
    }
    .section-md-bottom-148 {
      padding-bottom: 148px;
    }
    .section-md-bottom-231 {
      padding-bottom: 231px;
    }
  }
  
  @media (min-width: 1200px) {
    .section-lg-bottom-0 {
      padding-bottom: 0px;
    }
    .section-lg-bottom-34 {
      padding-bottom: 34px;
    }
    .section-lg-bottom-65 {
      padding-bottom: 65px;
    }
    .section-lg-bottom-80 {
      padding-bottom: 80px;
    }
    .section-lg-bottom-92 {
      padding-bottom: 92px;
    }
    .page .section-lg-bottom-122 {
      padding-bottom: 122px;
    }
    .page .section-lg-bottom-148 {
      padding-bottom: 148px;
    }
    .section-lg-bottom-231 {
      padding-bottom: 231px;
    }
  }
  
  @media (min-width: 1800px) {
    .section-xl-bottom-0 {
      padding-bottom: 0px;
    }
    .section-xl-bottom-34 {
      padding-bottom: 34px;
    }
    .section-xl-bottom-65 {
      padding-bottom: 65px;
    }
    .section-xl-bottom-80 {
      padding-bottom: 80px;
    }
    .section-xl-bottom-92 {
      padding-bottom: 92px;
    }
    .section-xl-bottom-122 {
      padding-bottom: 122px;
    }
    .section-xl-bottom-148 {
      padding-bottom: 148px;
    }
    .section-xl-bottom-231 {
      padding-bottom: 231px;
    }
  }
  .page .section-title {
    position: relative;
  }
  
  .page .section-title:before {
    position: absolute;
    color: #eaeaea;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat";
    line-height: 56px;
    font-size: 80px;
  }
  
  @media (min-width: 1860px) {
    .page .section-title:before {
      content: attr(data-title);
    }
  }
  
  @media (min-width: 1960px) {
    .page .section-title:before {
      line-height: 106px;
      font-size: 150px;
    }
  }
  
  .page .section-title-left:before {
    transform-origin: 0 100%;
    transform: rotate(90deg);
    left: 0;
    top: -79px;
  }
  
  .page .section-title-left-2:before {
    top: 91px;
  }
  
  .page .section-title-left-3:before {
    top: -12px;
  }
  
  .page .section-title-right:before {
    transform-origin: 100% 0;
    transform: rotate(90deg);
    right: -3px;
    bottom: -40px;
  }
  
  .page .section-title-right-2:before {
    bottom: -15px;
  }
  
  .page .section-title-right-3:before {
    bottom: -92px;
  }
.page  .shell,
.page .shell-wide,
.page .shell-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page .shell,
.page .shell-wide {
  min-width: 300px;
  max-width: 480px;
}

@media (min-width: 768px) {
  .page .shell,
  .page .shell-wide {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .page .shell,
  .page .shell-wide {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .page .shell,
  .page .shell-wide {
    max-width: 1200px;
  }
}

@media (min-width: 1800px) {
  .page .shell-wide {
    max-width: 1600px;
  }
}

.page .shell-fluid {
  max-width: none;
}
.page .page-counter {
    position: relative;
    display: none;
    z-index: 1;
  }
   .page-header {
    padding-bottom: 13px;
    margin: 56px 0 28px;
    border-bottom: 1px solid #eaeaea;
  }

  @media (min-width: 768px) {
   .page .page-counter {
      display: block;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .page .page-counter {
      margin-bottom: 40px;
    }
  }
  
  .page .page-counter:before {
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid;
    content: counter(sections, decimal-leading-zero);
    counter-increment: sections;
    text-align: right;
    color: #c9adad;
    font-size: 30px;
    line-height: 70px;
    font-family: "Montserrat";
    width: 23%;
    z-index: -1;
  }
  .page .moving-steps {
    counter-reset: sections;
  }
  .page .moving-steps::before {
    counter-increment: sections;
  }
  @media (min-width: 1200px) {
   .page .page-counter:before {
      width: 33%;
    }
  }
  
  .page .page-counter-bottom:before {
    bottom: 16px;
  }
  
  .page .page-counter-middle:before {
    top: 32%;
    bottom: auto;
  }
  
  .page-counter-bottom-3:before {
    bottom: 40px;
  }
  
  .page .page-counter-bottom-5:before {
    bottom: 31px;
  }
  
  .page-counter-bottom-4:before {
    bottom: 24px;
    right: -15px;
  }
  
  .page-counter-bottom-6:before {
    bottom: 44px;
    right: -15px;
  }
  
  .page .page-counter-bottom-7:before {
    bottom: 80px;
    right: -15px;
  }
  
  .page .page-counter-sisal:before {
    color: #d7ccc2;
  }
  
  .page .page-counter-gray:before {
    color: #aeaeae;
  }
  
  .page-counter-bottom-2 {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -63px);
  }
  
  .page-counter-bottom-2:before {
    bottom: 10px;
  }
.rd-navbar-wrap,
.rd-navbar,
.rd-navbar-brand,
.rd-navbar-slogan,
.rd-navbar-dropdown,
.rd-navbar-megamenu,
.rd-navbar-collapse-items,
.brand-name,
.rd-navbar-nav,
.rd-navbar-panel,
.rd-navbar-search-form-input,
.page .rd-navbar-search-form-submit,
.rd-navbar-search-toggle,
.rd-navbar-live-search-results,
.rd-navbar-search-form {
  transition: .3s all ease;
}
.rd-navbar-wrap,.page .rd-navbar-static .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-megamenu,
 .rd-navbar-fullwidth .rd-navbar-dropdown,
.rd-navbar-fullwidth .rd-navbar-megamenu, .rd-navbar-fixed .rd-navbar-nav-wrap, .rd-navbar-fixed .rd-navbar-submenu {
  transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.rd-navbar-fixed,
.rd-navbar-static,
.rd-navbar-fullwidth,
.rd-navbar-sidebar {
  display: block;
}
.rd-navbar-static {
  display: block;
}

.rd-navbar-static .rd-navbar-inner {
  display: flex;
  align-items: center;
  padding-top: 71px;
  padding-bottom: 30px;
}

.rd-navbar-static .rd-navbar-nav-wrap {
  width: 100%;
  text-align: right;
}

.rd-navbar-static .rd-navbar-nav > li {
  display: inline-block;
}
